/*スクロールスムーズに。*/
html {
    scroll-behavior: smooth;
}

/*フォントを入れます*/
@font-face {
    font-family: "mushin";
    src: url("../fonts/mushin.otf") format("opentype");
}

@font-face {
    font-family: "gokuboso";
    src: url("../fonts/chogokubosogothic_5.ttf") format("truetype");
}

body {
    margin: 0;
}

/*ローディング*/
/* 非表示 */
.is-hide {
    display: none;
}

/* LOADING */
#loader-bg {
    background: #ffffff;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

#loader {
    height: 120px;
    left: 50%;
    margin-left: -60px;
    margin-top: -60px;
    position: fixed;
    top: 50%;
    width: 120px;
}

#loader p {
    color: #b3b3b3;
    font-size: 20px;
    /*    line-height: 1.4;*/
    text-align: center;
    font-family: "gokuboso";
}

#loader p img {
    display: inline-block;
}


/*topページの背景。*/
.topPic {
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/*ナビ*/
nav {
    position: fixed;
    z-index: 3;
    width: 100%;
    /*    font-family: "游ゴシック Medium", sans-serif;*/
    font-family: "Centry Gothic", sans-serif;
    /*    font-family: "gokuboso";*/
    overflow: hidden;
    border-bottom: 1px solid rgba(179, 179, 179, 0.6);
    background-color: rgba(2555, 255, 255, 0.6);

}

nav ul {
    list-style: none;
}

nav a {
    text-decoration: none;
    font-size: 25px;
    float: right;
    margin: 0px 15px 5px;
    padding-bottom: 3px;
    color: rgb(140, 140, 140);
}

nav a:after {
    content: '';
    width: 0;
    transition: all 0.4s ease;
    border-bottom: 3px solid rgb(140, 140, 140);
    display: block;
}

nav a:hover:after {
    width: 100%;
    border-bottom: 1px solid rgb(140, 140, 140);
}

header h1 {
    position: relative;
    font-family: "mushin";
    font-size: 80px;
    color: #333;
    display: inline-block;
    /*
    margin-left: 30px;
    padding-top: 70px;
*/
    margin-top: 0;

    top: 8%;
    left: 2%;
    /*
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
*/
}

/*aboutのところ。*/
.wrapper {
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.section {
    max-width: 1020px;
    margin: 0 auto;
}

/*各セッションタイトル*/
.wrapper h2 {
    font-family: "mushin";
    font-size: 50px;
    margin: 100px 0 80px 0;
    text-align: center;
}

.wrapper h3 {
    font-family: "mushin";
    font-size: 25px;
}

.section p {
    text-align: left;
    font-family: "gokuboso";
    font-size: 20px;
    width: auto;
}

#introduction {
    text-align: center;
    line-height: 60px;
    margin-bottom: 500px;
}

#about {
    margin-bottom: 150px;
}

/*めも*/
/*wrapperって作ったやつに線が引けたら良い。けど、js次第ではwrapper要らなくて、sectionでいけるのかも？*/


.box {
    border: 1px solid #333;
    border-radius: 3px;
    max-width: 50%;
    margin-bottom: 30px;
    overflow: hidden;
}

.box p {
    display: inline-block;
    margin: 0 auto;
    line-height: 30px;
}

.box h3 {
    display: inline-block;
}


#box-right {
    float: right;
}

#box-left p {
    padding: 0 0 30px;

}

.ganso {
    margin: 20px;
    display: flex;
    align-items: center;
}

.ganso-image {
    width: 40%;
}

/*たべっ子どうぶつシリーズ*/

.swiper-container {
    max-width: 100%;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

/*背景にストライプ柄を出します。*/
.bg-stripe {
    overflow: hidden;
    background: repeating-linear-gradient(to right,
            rgba(179, 179, 179, 0.4) 0,
            rgba(179, 179, 179, 0.4) 140px,
            #ffffff 0,
            #ffffff 280px);
    padding-bottom: 100px;

}

.tabekkobox {
    border: 1px solid #333;
    border-radius: 3px;
    padding: 20px;
    width: 300px;
    display: inline-block;
    background-color: white;
    /*    margin: 0 5px; */
}

.tabekkobox p {
    font-size: 13px;
    text-align: center;
    font-family: "gokuboso";
    line-height: 1.5em;
}

.tabekkobox a {
    display: block;
    text-align: center;
    font-size: 18px;
    font-family: "gokuboso";
    color: #333;
    text-decoration: none;
    background-color: white;
    max-width: 160px;
    border: 1px solid #B3B3B3;
    border-radius: 3px;
    padding: 10px 20px;
    margin: 0 auto;
}

.tabekkobox a:hover {
    display: block;
    text-align: center;
    font-size: 18px;
    font-family: "gokuboso";
    color: white;
    text-decoration: none;
    background-color: rgb(192, 138, 75);
    max-width: 160px;
    border: 1px solid #B3B3B3;
    border-radius: 3px;
    padding: 10px 20px;
    margin: 0 auto;
    /*    ボワッと出す*/
    transition: 0.5s;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.collection-img {
    width: 90%;
    padding: 5%;
}


/*こんなのもあるよコーナー*/

.collection-title {
    max-width: 1020px;
    margin: 0 auto;
    margin-top: 200px;
    position: relative;
}

/*バックスラッシュを打ちたい。*/
.mirror {
    /* 横反転 : cos sin -sin cos : Y軸下向きが正 */
    display: inline-block;
    width: 15px;
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    filter: progid:DXImageTransform.Microsoft.BasicImage(mirror=1);
}

.collection-title h2 {
    margin-top: 5px;
}

.collection-title h3 {
    transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    position: absolute;
    top: -50px;
    left: 15%;

}

.collection-ad {
    max-width: 1020px;
    display: flex;
    margin: 0 auto;
}

.tabekkobox-ad {
    /*    margin: 30px 50px;*/
    margin: 0 auto;
}

/*写真を表示するところ*/

.gallery {
    margin-top: 150px;
    margin-bottom: 130px;
}

.gallery img {
    width: 30%;
}

.all-pic {
    display: none;
}

button.seemore {
    position: relative;
    height: 30px;
    width: 160px;
    margin: 40px auto;
    display: inline-block;
    background-color: white;
    color: #b3b3b3;
    outline: 0;
    transition: .5s;
    -erbkit-transition: .5s;
    border: solid 1px #b3b3b3;
    border-radius: 2px;
    text-align: center;
    line-height: 30px;
}

button.seemore:hover {
    background-color: #b3b3b3;
    color: white;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.1));
}

button.seemore::after {
    content: "";
    position: absolute;
    right: 28px;
    top: 25px;
    transition: .5s;
    -erbkit-transition: .5s;
}

button.seemore:hover::after {
    top: 30px;
}

.on-click {
    color: white;
}

.on-click {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}


/*この下にpopUpの仮の設定。*/
/* 全体設定 */

.flexLine {
    display: inline-flex;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

#goods img:hover {
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.1));
}

.pop-box {
    margin: 0 auto;
}

.pop-box img {
    text-align: center;
}

/* ポップアップウインドウの設定 */
.popup {
    background: rgba(255, 255, 255, 0.5);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border: none;
}

.content-base {
    position: relative;
}

/* ポップアップの内容 */
.popup-content {
    margin: 40px auto 40px auto;
    width: 100%;
    position: relative;
}

.goods-info {
    max-width: 1020px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 31;
}

#inu-info {
    top: 50%;
    left: 52%;
}

#lion-info {
    top: 52%;
    left: 52%;
}

#ahiru-info {
    top: 57%;
}

.popup-content {
    width: 100%;
    overflow: hidden;
}

.popup-content img {
    z-index: 30;
    max-width: 1020px;
    margin: 0 auto;
}

.goods-title {
    font-family: "mushin";
    font-size: 21px;
    text-align: center;
    display: inline-block;
}

#inu-text,
#lion-text,
#koumori-text,
#dd-text,
#ushi-text {
    display: inline-block;
    margin: 0 auto;
    font-size: 16px;
    line-height: 22px;
}

.goods-img {
    position: relative;
}

/*公式サイトに飛ぶボタン*/
.button {
    display: block;
    text-align: center;
    font-size: 18px;
    font-family: "gokuboso";
    color: #333;
    text-decoration: none;
    background-color: white;
    max-width: 160px;
    border: 1px solid #B3B3B3;
    border-radius: 3px;
    padding: 10px 20px;
    margin: 0 auto;

}

.button:hover {
    display: block;
    text-align: center;
    font-size: 18px;
    font-family: "gokuboso";
    color: white;
    text-decoration: none;
    background-color: rgb(192, 138, 75);
    max-width: 160px;
    border: 1px solid #B3B3B3;
    border-radius: 3px;
    padding: 10px 20px;
    margin: 0 auto;
    /*    ボワッと出す*/
    transition: 0.5s;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
}


/*ビレバン*/
/* チェックボックスの初期設定 */
#popup-on-inu {
    display: none;
}

/* チェックされたらポップアップウインドウを開く */
#popup-on-inu:checked + .popup {
    display: block;
    z-index: 999;
}


/*くじ*/
#popup-on-lion {
    display: none;
}

#popup-on-lion:checked + .popup {
    display: block;
    z-index: 999;
}

/*アミューズメント*/
#popup-on-koumori {
    display: none;
}

#popup-on-koumori:checked + .popup {
    display: block;
    z-index: 999;
}

/*DD*/
#popup-on-ahiru {
    display: none;
}

#popup-on-ahiru:checked + .popup {
    display: block;
    z-index: 999;
}

/*coming  soon*/
#popup-on-ushi {
    display: none;
}

#popup-on-ushi:checked + .popup {
    display: block;
    z-index: 999;
}

/* 開くボタン */
.btn-open {
    cursor: pointer;
    margin: 0;
    width: 95%;
    text-align: center;
    align-items: center;
}

.flex-btn-open {
    padding: 0 90px;
}

.pop-box-second {
    display: inline-block;
}

/*フッター*/
#footer {
    font-family: "gokuboso";
    font-size: 25px;
    border-top: 1px solid #B3B3B3;
    text-align: center;
    padding: 5px 0;
}


@media screen and (max-width : 480px) {
    .topPic {
        width: 100%;
    }

    nav {
        display: none;
    }

    header h1 {
        font-size: 40px;
        margin: 0 auto;
    }

    .wrapper h2 {
        font-family: "mushin";
        font-size: 30px;
        margin: 100px 0 80px 0;
    }

    .wrapper h3 {
        font-size: 20px;
    }

    .section p {
        font-size: 12px;
    }

    #introduction {
        line-height: 40px;
        margin-bottom: 150px;
    }

    .box {
        max-width: 90%;
        margin: 10px auto 20px;
    }

    #box-right,
    #box-left {
        float: none;
        width: 100%;
    }

    #about {
        margin-bottom: 70px;
    }

    /*    背景の栓を細く。*/
    .bg-stripe {
        overflow: hidden;
        background: repeating-linear-gradient(to right,
                rgba(179, 179, 179, 0.4) 0,
                rgba(179, 179, 179, 0.4) 30px,
                #ffffff 0,
                #ffffff 60px);
        padding-bottom: 50px;
    }

    .tabekkobox p {
        font-size: 12px;
    }

    .collection-ad {
        display: inline-block;
    }

    .tabekkobox-ad {
        margin: 10px auto;
    }

    .flexLine {
        display: inline-block;
    }

    .flex-btn-open {
        padding: 0;
    }

    .goods-info {
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    #inu-info,
    #lion-info,
    #ahiru-info {
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
    
    .goods-title {
        font-size: 13px;
    }

    #inu-text,
    #lion-text,
    #koumori-text,
    #dd-text,
    #ushi-text {
        display: inline-block;
        margin: 0 auto;
        font-size: 12px;
        line-height: 20px;
    }
    
    .popup-content img{
        width: 100%;
    }



}